#main {
  padding:2em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 1em;
}
span {
  display: block;
}

/**
 Categories view
 category.template.html
**/
.category-name {
  font-weight: bold;
}
.category-description {
  font-style: italic;
}

/**
  Menu items view
  items.template.html
**/
.category-item-name {
  font-weight: bold;
}
.category-item-description {
  font-style: italic;
}
