<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
    <!-- Scripts  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyController as toBuy" class="col-md-6">
     <h2>To Buy:</h2>
     <input ng-model="toBuy.name" placeholder="item name">
     <input ng-model="toBuy.quantity" placeholder="item quantity">
     <button ng-click="toBuy.addItem()">Add to shopping list</button>
     <ul>
       <li ng-repeat="item in toBuy.items">Buy {{item.quantity}} {{item.name}}
         <button ng-click="toBuy.markAsBought($index)" class="btn btn-success"></span>Mark as bought</button>
         <button ng-click="toBuy.removeItem($index)" class="btn btn-danger">Remove</button>
       </li>
     </ul>
     <div ng-if="toBuy.items < 1"class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController as bought" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-if="bought.items == 0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
