<!DOCTYPE html>
<html ng-app="LunchApp">
  <head>
    <meta charset="utf-8">
    <title>My First AngularJS app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>

    <div class="col-md-12">
      <div ng-controller="LunchController">

        <h1>What have you eaten today?</h1>

        <div>
            <input style="{{custom.borderColor}}" type="text" ng-model="lunch">
            <button ng-click="checkLunch()">Check if too much.</button>
        </div>

        <div>
          <p  style="{{custom.color}}">{{message}}</p>
        </div>

      </div>
    </div>

  </body>
</html>
